@charset "UTF-8";

@font-face {
    font-family: 'charlie';
    src: url(Charlie-dont-surf.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --claro: #BFBFBF;
    --escuro: #050505;
    --cinza-claro: #8C8C8C;
    --cinza-medio01: #737373;
    --cinza-medio02: #595959;
    --cinza-escuro: #404040;
}

.page {
    display: flex;
    width: 100%;
}


/*Header*/

header {
    background-color: var(--escuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 70px;
}

.logo {
    color: white;
    margin: 0px 10px;
}

.logo-h1 {
    font-family: 'charlie', Arial, Helvetica, sans-serif;
}

.head-nav {
    display: flex;
    align-items: center;
    margin: auto;
}

.head-nav-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0px 10px;
    transition: 200ms;
}

.head-nav-item:hover {
    background-color: var(--cinza-escuro);
    border-radius: 5px;
}

@media (max-width: 660px) {
    .head-nav {
        display: none;
    }
}

/*Nav Menu Bar*/

.menu-bar {
    display: none;
}


/*Main*/

.container{
    background-color: var(--claro);
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

section {
    margin: 20px 0px;
}

.capitulo {
    display: flex;
    flex-direction: column;
}

.capitulo-h1 {
    padding: 20px 0px 20px 20px;
    font-size: 1.8em;
    width: 100%;
    margin-top: 30px;
    margin-left: -10px;
    background-color: var(--cinza-medio02);
    color: var(--claro);
}

.topico {
    background-image: linear-gradient(to right, var(--cinza-medio01), transparent);
    padding: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p a {
    text-decoration: none;
    color: black;
    background-color: var(--cinza-claro);
    padding: 2px;
    border-radius: 5px;
}

p a:hover {
    color: white;
    text-decoration: underline;
}

p {
    text-indent: 20px;
    margin: 5px 0px;
}

.extras {
    background-color: rgba(136, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.titulo-extra {
    background-color: rgb(48, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

.text-foto-div {
    display: flex;
}

.criadores-div-img {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
}

.criadores-img {
    width: 100%;
    height: 100%;
}

/*Footer*/

footer {
    background-color: var(--escuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--claro);
}

footer > p > a {
    color: var(--cinza-medio01);
    text-decoration: none;
    background: none;
}

footer > p > a:hover {
    color: white;
    text-decoration: underline;
} 
