@charset "UTF-8";

@font-face {
    font-family: charlie;
    src: url(Fontes/charlie.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: white;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: crimson;
    text-decoration: none;
}

:root {
    --claro: #e5e5e5;
    --escuro: #050505;
    --cinza-claro: #8C8C8C;
    --cinza-medio01: #737373;
    --cinza-medio02: #595959;
    --cinza-escuro: #404040;
    --cinza-mais-escuro: #252525;
}

.page {
    display: flex;
    width: 100%;
}

@media (max-width: 680px) {
    .head-nav, .head-nav-item {
        display: none;
    }
}

/*Header*/

header {
    background-color: var(--escuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    height: 9vh;
    width: 100%;
    position: fixed;
}

.logo {
    color: white;
    margin: 0px 10px;
    margin-left: 30px;
}

.logo-img {
    height: 7vh;
    transition: 200ms;
}

.logo-img:hover {
    transform: scale(1.05) rotate(2deg);
}

.head-nav {
    display: flex;
    align-items: center;
    margin: auto;
}

.head-nav-item {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0px;
    transition: 200ms;
}

.head-nav-item:hover {
    background-color: var(--cinza-escuro);
}

/**/

.hamburguer {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    margin-right: 30px;
    transition: 200ms;
}

.hamburguer:hover {
    transform: scale(1.1);
}

.hamburguer div {
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: white;
}

#itens {
    display: none;
    flex-direction: column;
    background-color: var(--escuro);
    padding: 10px 30px;
    position: absolute;
    right: 0rem;
    top: 4.4rem;
    transition: 400ms;
    width: 130px;
    border: 2px solid #454545;
    border-top: none;
    border-right: none;
    box-shadow: -1px 1px 5px 0px #00000057;
}

#itens > a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

#itens > a:hover {
    color: var(--cinza-claro);
}

/**/

/*Main*/

main.page {
    display: flex;
    flex-direction: column;
}

.introducao {
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    color: white;
    padding: 2vh 6vw;
    background: #8C8C8C url("Images/Fotos/Os_Caras/Int_bg.jpg") center center no-repeat;
    background-size: cover;
}

.introducao h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.introducao h3{
    font-weight: 100;
    font-size: 1.4em;
}




.sobre_oscaras {
    display: flex;
    padding: 40px 60px;
    margin: auto;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.text_oscaras{ 
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.text_oscaras h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 30px;
}

.text_oscaras h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

.text_oscaras p > a {
    color: crimson;
    text-decoration: none;
}

.text_oscaras p > a:hover{
    color: rgb(121, 6, 252);
    text-decoration: underline;
}

.sobre_foto_grid {
    display: flex;
    flex-direction: column;
    max-width: 440px;
}

.sobre_foto_grid_ch {
    display: flex;
}

.sobre_foto_grid_item01 {
    background: #737373 url("Images/Fotos/Os_Caras/sobre_01.jpg") center center no-repeat;
    background-size: cover;
    height: 200px;
    max-width: 420px;
    margin: 5px 10px;
}

.sobre_foto_grid_item02 {
    background: #737373 url("Images/Fotos/Os_Caras/sobre_02.jpg") center center no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 5px 10px;
}

.sobre_foto_grid_item03 {
    background: #737373 url("Images/Fotos/Os_Caras/sobre_03.jpg") center center no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 5px 10px;
}

@media (max-width: 850px) {
    .sobre_oscaras  {
        flex-direction: column;
    }

    .sobre_foto_grid {
        margin-top: 50px;
    }

    .integrante_cont01, .integrante_cont02 {
        flex-direction: column;
    }

    .integrante_foto_div {
        height: 200px;
        width: 300px;
    }

    #Caio {
        background: #737373 url("Images/Fotos/Caio/caio-foto-wide.JPG") center center no-repeat;
        background-size: cover;
    }
    
    #Murilo {
        background: #737373 url("Images/Fotos/Murilo/murilo-foto-wide.JPG") center center no-repeat;
        background-size: cover;
    }
    
    #Rhian {
        background: #737373 url("Images/Fotos/Rhian/rhian-foto-wide.JPG") center center no-repeat;
        background-size: cover;
    }
    
}




.sobre_integrantes {
    display: flex;
    background-color: #252525;
    color: white;
    flex-direction: column;
}

.container_sobre {
    max-width: 1400px;
    padding: 40px 60px;
    margin: auto;
}

.integrante_cont01, .integrante_cont02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 40px 60px;
    margin: auto;
}

.integrante_foto_div {
    display: flex;
    height: 400px;
    width: 300px;
    margin: 50px;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
}

#Caio {
    background: #737373 url("Images/Fotos/Caio/caio-foto.JPG") center center no-repeat;
    background-size: cover;
}

#Murilo {
    background: #737373 url("Images/Fotos/Murilo/murilo-foto.JPG") center center no-repeat;
    background-size: cover;
}

#Rhian {
    background: #737373 url("Images/Fotos/Rhian/rhian-foto.JPG") center center no-repeat;
    background-size: cover;
}

.integrante_foto_div > a > img {
    height: 40px;
}

.integrante_foto_div > a:hover {
    transform: scale(1.1);
}

.integrantes_text_div {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 400px;
    justify-content: space-between;
}

.integrantes_text_div > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.integrantes_text_div > ul {
    list-style: disc;
}

.integrantes_text_div > ul > li {
    margin: 5px 30px;
}

.integrantes_text_div > h3 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}


/*Footer*/

footer {
    background-color: var(--escuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--claro);
}

footer > p > a {
    color: var(--cinza-medio01);
    text-decoration: none;
    background: none;
}

footer > p > a:hover {
    color: white;
    text-decoration: underline;
} 
